/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src/app/utils/fonts.ts","import":"Annie_Use_Your_Telescope","arguments":[{"subsets":["latin"],"style":"normal","weight":"400","variable":"--annieuseyourtelescope"}],"variableName":"auyt"} ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* latin */
@font-face {
  font-family: '__Annie_Use_Your_Telescope_8734ef';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/e5c88ed17492bee2-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Annie_Use_Your_Telescope_Fallback_8734ef';src: local("Arial");ascent-override: 132.48%;descent-override: 52.92%;line-gap-override: 0.00%;size-adjust: 77.33%
}.__className_8734ef {font-family: '__Annie_Use_Your_Telescope_8734ef', '__Annie_Use_Your_Telescope_Fallback_8734ef';font-weight: 400;font-style: normal
}.__variable_8734ef {--annieuseyourtelescope: '__Annie_Use_Your_Telescope_8734ef', '__Annie_Use_Your_Telescope_Fallback_8734ef'
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src/app/utils/fonts.ts","import":"Bowlby_One_SC","arguments":[{"weight":["400"],"style":["normal"],"subsets":["latin"],"display":"swap","variable":"--bowlbySC"}],"variableName":"bowlbySC"} ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* latin-ext */
@font-face {
  font-family: '__Bowlby_One_SC_d71059';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/575ba2a6e3861799-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Bowlby_One_SC_d71059';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/b78019ec8d51ad2c-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Bowlby_One_SC_Fallback_d71059';src: local("Arial");ascent-override: 82.55%;descent-override: 32.17%;line-gap-override: 0.00%;size-adjust: 132.97%
}.__className_d71059 {font-family: '__Bowlby_One_SC_d71059', '__Bowlby_One_SC_Fallback_d71059';font-weight: 400;font-style: normal
}.__variable_d71059 {--bowlbySC: '__Bowlby_One_SC_d71059', '__Bowlby_One_SC_Fallback_d71059'
}

