@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
  
  }
  body {
  background-color: #1e293b ;

  }

  .londshadow {
 font-family: "Londrina Shadow";
  }

  .bowlbySC{
    font-family: "Bowlby One SC";
  }

  .gochiHand{
    font-family: "Gochi Hand";
  }


  /* architects-daughter-regular - latin */
 font-face {
  font-family: "Architects Daughter";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.eot")
      format("embedded-opentype"),
    url("/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.woff2")
      format("woff2"),
    url("/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.woff")
      format("woff"),
    url("/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.ttf")
      format("truetype"),
    url("/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.svg")
      format("svg");
}

/* BowlbyOneSC/-sc-regular - latin */
@font-face {
  font-family: "Bowlby One SC";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/BowlbySC/BowlbyOneSC-Regular_1.eot") format("embedded-opentype"),
    url("/fonts/BowlbySC/BowlbyOneSC-Regular_1.woff2")format("woff2"),
    url("/fonts/BowlbySC/BowwlbyOneSC-Regular.woff")format("woff"),
    url("/fonts/BowlbySC/BowlbyOneSC-Regular.ttf")format("truetype"),
    url("/fonts/BowlbySC/BowlbyOneSC-Regular.svg")format("svg"),
    
}

  team.filter(member => member.position == "developer")

  .headingA {
  -webkit-text-stroke-width: 2 px;
  -webkit-text-stroke-color: #ffffff;
  font-family: "Bowlby One SC";
}

.headingB {
  -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: #f5c507;
  font-family: "Architects Daughter";
}

.headingB2 {
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: #03011f;
  font-family: "Architects Daughter";
}

.headingC {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
  font-family: "Architects Daughter";
}

.headingD {
  -webkit-text-stroke-width: 0.66px;
  -webkit-text-stroke-color: #595959;
  font-family: "Architects Daughter";
  font-weight: extrabold;
}

.headingE {
  -webkit-text-stroke-width: 1.99px;
  -webkit-text-stroke-color: #0f0f0f;
  font-family: "Bowlby One SC";
  font-weight: extrabold;
}

.headingF {
  -webkit-text-stroke-width: 5.9px;
  -webkit-text-stroke-color: #fffffc;
  font-family: Bowlby_One_SC;
  font-weight: extrabold;
}

}