@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
  }



  body {
  
      font-family: 'Caveat';
      font-weight: 700;
      font-style: normal;
  }

  .caveat {
    font-family: 'Caveat';
    font-weight: 700;
    font-style: normal;
}


  .bowlbySC {
    font-family: Bowlby One SC;
  }

  .architectsDaughter {
    font-family: Architects Daughter;
  }

  /* architects-daughter-regular - latin */
  font-face {
    font-family: Architects Daughter;
    font-style: normal;
    font-weight: 400;
    src:
      local(""),
      url("/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.eot")
        format("embedded-opentype"),
      url("/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.woff2")
        format("woff2"),
      url("/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.woff")
        format("woff"),
      url("/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.ttf")
        format("truetype"),
      url("/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.svg")
        format("svg");
  }

@font-face {
    font-family: 'annie_use_your_telescopeRg';
    src: url('/fonts/annie-use-your-telescope/annieuseyourtelescope-regular-webfont.eot');
    src: url('/fonts/annie-use-your-telescope/annieuseyourtelescope-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/annie-use-your-telescope/annieuseyourtelescope-regular-webfont.woff2') format('woff2'),
         url('/fonts/annie-use-your-telescope/annieuseyourtelescope-regular-webfont.woff') format('woff'),
         url('/fonts/annie-use-your-telescope/annieuseyourtelescope-regular-webfont.ttf') format('truetype'),
         url('/fonts/annie-use-your-telescope/annieuseyourtelescope-regular-webfont.svg#annie_use_your_telescopeRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

  /* BowlbyOneSC/-sc-regular - latin */
  @font-face {
    font-family: "Bowlby One SC";
    font-style: normal;
    font-weight: 400;
    src:
      local(""),
      url("/fonts/BowlbySC/BowlbyOneSC-Regular_1.eot")
        format("embedded-opentype"),
      url("/fonts/BowlbySC/BowlbyOneSC-Regular_1.woff2") format("woff2"),
      url("/fonts/BowlbySC/BowwlbyOneSC-Regular.woff") format("woff"),
      url("/fonts/BowlbySC/BowlbyOneSC-Regular.ttf") format("truetype"),
      url("/fonts/BowlbySC/BowlbyOneSC-Regular.svg") format("svg");
  }

  team.filter(member => member.position == "developer") .headingA {
    -webkit-text-stroke-width: 2 px;
    -webkit-text-stroke-color: #ffffff;
    font-family: "Bowlby One SC";
  }

  .headingB {
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #f5c507;
    font-family: "Architects Daughter";
  }

  .headingB2 {
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #000000;
    font-family: "Architects Daughter";
  }

  .headingC {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
    font-family: "Architects Daughter";
  }

  .headingD {
    -webkit-text-stroke-width: 0.66px;
    -webkit-text-stroke-color: #595959;
    font-family: "Architects Daughter";
    font-weight: extrabold;
  }

  .headingE {
    -webkit-text-stroke-width: 1.99px;
    -webkit-text-stroke-color: #0f0f0f;
    font-family: "Bowlby One SC";
    font-weight: extrabold;
  }

  .headingF {
    -webkit-text-stroke-width: 5.9px;
    -webkit-text-st<roke-color: #fffffc;
    font-family: Bowlby_One_SC;
    font-weight: extrabold;
  }

  .headingG {
    -webkit-text-stroke-width: .9px;
    -webkit-text-stroke-color: #000000;  
  }
}
